._page {
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  background-color: #193549;
}

.fav-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  border: 1px solid red;
}

.play-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 100%;
  border: 1px solid green;
}

.header {
  width: 100%;
  border: 1px solid white;
}

.list {
  width: 100%;
  flex-grow: 1;
  border: 1px solid aqua;
}